
@{
    ViewBag.Title = "Logout";
}

<h2>Logout</h2>

@using (Html.BeginForm())
{

    <div class="form-horizontal">
        <h4>Are you sure you want to log out ?</h4>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Logout" class="btn btn-warning" />
            </div>
        </div>
    </div>
}